.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 3px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 500px;
  }

  .dates{
    display: flex;
    flex-wrap: wrap;
    text-decoration-style: none;

  }

  .dates div{
    margin: 0.5rem;
    background-color: aliceblue;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #b5bbc4;
    border-color: #878b91;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 30px;
    border-bottom: 1px solid black;
  }
  .card h5{
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  #clientButton{
      margin-right: 30px;
  }

  .buttonContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
  }

  .buttonContainer > *:hover{
    background-color: azure;
    color:black;
  }

